{% extends "admin/layout.html" %}
{% block head %}
<script src="{{ url_for('static',filename = 'js/marked.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename = 'js/editor.js') }}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/editor.css')}}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block body %}
<form action="{{ url_for("post_edit") }}" method="post" accept-charset="utf-8">
    <input type="text" value="{{ post.title }}" name="title" placeholder="标题" id="title"/>
    <textarea name="content" id="editor">{{ post.text }}</textarea>

    <p><input type="submit" value="Continue →"></p>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="http://cdn.staticfile.org/zepto/1.0rc1/zepto.min.js"></script>
    <script type="text/javascript">
        (function($) {
            var editor = new Editor();
            editor.render();
        })(Zepto);
    </script>
{% endblock %}
