{% extends "admin/layout.html" %}
{% block head %}
<script src="{{ url_for('static',filename = 'js/marked.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename = 'js/editor.js') }}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/editor.css')}}" type="text/css" media="screen" title="no title" charset="utf-8">
{% endblock %}
{% block body %}
<form action="{{ url_for("post_edit") }}" method="POST" accept-charset="utf-8">
    <textarea name="markdown" id="editor">{{ post.markdown }}</textarea>
    <input type="hidden" name="id" value="{{ post.id }}" />
    
    <div class="fixed">
        <a class="list" href="{{ url_for('list_posts') }}" >文章列表</a>
        <a class="view" href="{{ url_for('show_post',slug=post.slug) }}" target="_blank" >查看文章</a>
        <a class="settings"href="{{ url_for('settings') }}" >设置</a>
        <input class="save" type="submit" value="保存" />
    </div>
</form>
{% endblock %}

{% block foot %}
<script type="text/javascript" src="http://cdn.staticfile.org/zepto/1.0rc1/zepto.min.js"></script>
    <script type="text/javascript">
        (function($) {
            var editor = new Editor();
            editor.render();
        })(Zepto);
    </script>
{% endblock %}
