<html>
    <head>
        <title>{% block title %}coderhwz's blog{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="description" content="{% block desc %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css" media="screen" charset="utf-8">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block body %}
            {% endblock %}
            <div class="footer">
                copyright
            </div>
        </div>
    </body>
</html>
